<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<header th:replace="fragments/header :: header"></header>

<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col">


                <div th:if="${all_author.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                    You must enter authors.
                    <a th:href="@{/author/form}" class="alert-link">Create authors.</a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <div th:unless="${all_author.isEmpty()}" class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-dark">
                            <th>Name</th>
                            <th>Up</th>
                            <th>Update</th>
                            <th>Up/Down</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="author : ${all_author}">

                           <td th:text="${author.name}"></td>

                             <td th:text="${author.up}"></td>
                                <td>
                                    <a class="btn btn-warning ml-3" th:href="@{/author/form/__${author.id}__}">Update</a>
                                </td>
                             <td>
                                 <form th:action="@{/author/up/__${author.id}__}" method="POST">
                                     <button class="btn btn-warning" type="submit">Up/Down</button>
                                 </form>
                             </td>
                            <td>
                                <form th:action="@{/author/deleted/__${author.id}__}" method="POST">
                                    <button class="btn btn-danger" type="submit">Remove</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>